# Byte-compiled Python files
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.so

# Django specific
db.sqlite3
media/
staticfiles/
.env

# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
frontend/build/
frontend/static/*

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor specific
.idea/
.vscode/
*.swp
*.swo
*.~undo-tree~

# Test and coverage
*.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/

# Logs and temp files
*.log
*.tmp
*.bak
*.pid
*.seed
*.state

# Docker
*.env
docker-compose.override.yml

# Node.js dependencies

/cms/migrations
